---
title: About
heading: Chi siamo
subtitle: "Siamo un team di consulenza, formazione e servizi per le Imprese ed Enti Pubblici. Offriamo supporto specialistico e strategico al management pubblico e privato finalizzato all'ottimizzazione dei processi interni nell'ambito dell'innovazione."
---

{% for aspect in site.chi_siamo %}
	{%- capture section_layout_class -%}
		{% cycle 'alternate', 'patterned' %}
	{%- endcapture -%}
	{%- capture section_order -%}
		{% cycle 'order-normal', 'order-inverse' %}
	{%- endcapture -%}
	{% include aspect-overview.html 
		section_main_class=section_layout_class 
		order_class=section_order
		title=aspect.title
		excerpt=aspect.subtitle
		image=aspect.image_path
		image_dir="chi-siamo"
		image_alt=aspect.image_alt
	%}
{% endfor %}
