---
title: Home
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">{{ site.hero-msg }}</h2>
		<p class="subtext editable">{{ site.description }}</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contatti/">Contattaci</a></p>
	</div>
</section>

<!-- SERVIZI -->
<a id="services"></a>
{% for service in site.servizi %}
	{%- capture section_layout_class -%}
		{% cycle 'alternate', 'patterned' %}
	{%- endcapture -%}
	{%- capture section_order -%}
		{% cycle 'order-normal', 'order-inverse' %}
	{%- endcapture -%}
	{% include service-overview.html 
		section_main_class=section_layout_class 
		order_class=section_order
		title=service.name
		excerpt=service.subtitle
		link=service.link
		image=service.image_path
	%}
{% endfor %}

{% comment %}
<!-- TESTIMONIALS -->
{% include testimonials.html %}
{% endcomment %}





