<section class="diagonal {{ include.section_main_class }}">
    <div class="container halves {{ include.order_class }}">
        <div>
            <h3 class="editable text-align-sm-center">{{ include.title }}</h3>
            <p class="editable text-align-sm-center">{{ include.excerpt }}</p>
            <div class="editable text-align-sm-center mb-2">
                {% if include.service.has_details %}
                    <a href="{{ include.service.url }}">Scopri di più &rarr;</a>
                {% endif %}
            </div>
            <div class="editable text-align-sm-center">
                {% if include.service_id %}
                    {% if include.service.has_details %}
                        {% if include.service.has_details == false %}
                            <a href="{{ site.baseurl }}/contatti/?area={{ include.service_id }}">Chiedi ulteriori informazioni &rarr;</a>                        
                        {% endif %}
                    {% else %}
                    <a href="{{ site.baseurl }}/contatti/?area={{ include.service_id }}">Chiedi ulteriori informazioni &rarr;</a>                        
                    
                    {% endif %}
                
            {% endif %}
            </div>
        </div>
        <div class="image-container-center">
            <img src="{{ site.baseurl }}/images/servizi/{{ include.image }}" alt="{{ include.image_alt }}" width="400" style="margin-bottom: 40px;">
        </div>
    </div>
</section>